*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
nav{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
a{
    color: black;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ativate{
    background: pink;
    text-decoration: underline 2px;
}
a:hover{
    text-decoration: underline 2px;
}
header{
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
main{
    flex: 8;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
}
.box{
    width: 30%;
    height: 45%;
    background: pink;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}
.long{
    width: 100%;
}
table{
    margin: auto auto;
    border: 1px black solid;
    border-collapse: collapse;
    height: 300px;
}
td,th{
    width: 200px;
    height: 25px;
    text-align: left;
    padding: 10px;
    border: 1px black solid;
}
td:nth-child(1),th:nth-child(1){
    background-color: rgba(255, 192, 203, 0.308);
}
td:nth-child(2),th:nth-child(2){
    background-color: rgba(255, 192, 203, 0.594);
}
td:nth-child(3),th:nth-child(3){
    background-color: rgba(255, 192, 203, 0.774);
}
td:nth-child(4),th:nth-child(4){
    background-color: pink;
}